[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

# Handle Next.js dynamic routes
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
